<section class="skills">
  <div>
<div class="row justify-content-center">
  <div class="col-11">
  <div class="row justify-content-center">
      <h2>Hard & Soft skills</h2>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [imageSrc]="'../assets/Recursos/HTML.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [percent]="80"
        [radius]="100"
        [title]="'HTML'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="10"
        [outerStrokeGradient]="true"
        [outerStrokeColor]="'#fc4e3e'"
        [innerStrokeColor]="'#e7e8ea'"
        [outerStrokeGradientStopColor]="'#85fad2'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
      </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [imageSrc]="'../assets/Recursos/CSS.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="120"
        [percent]="70"
        [radius]="100"
        [title]="'HTML'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="10"
        [outerStrokeGradient]="true"
        [outerStrokeColor]="'#fc4e3e'"
        [innerStrokeColor]="'#e7e8ea'"
        [outerStrokeGradientStopColor]="'#85fad2'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
      </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [imageSrc]="'../assets/Recursos/Angular.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [percent]="65"
        [radius]="100"
        [title]="'HTML'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="10"
        [outerStrokeGradient]="true"
        [outerStrokeColor]="'#fc4e3e'"
        [innerStrokeColor]="'#e7e8ea'"
        [outerStrokeGradientStopColor]="'#85fad2'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
      </div>
  </div></div>
</div>
<div class="row justify-content-center">
  <div class="col-11">
  <div class="row justify-content-center">
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [imageSrc]="'../assets/Recursos/spring-boot.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="120"
        [percent]="65"
        [radius]="100"
        [title]="'HTML'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="10"
        [outerStrokeGradient]="true"
        [outerStrokeColor]="'#fc4e3e'"
        [innerStrokeColor]="'#e7e8ea'"
        [outerStrokeGradientStopColor]="'#85fad2'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
      </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [imageSrc]="'../assets/Recursos/L-FB.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [percent]="85"
        [radius]="100"
        [title]="'HTML'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="10"
        [outerStrokeGradient]="true"
        [outerStrokeColor]="'#fc4e3e'"
        [innerStrokeColor]="'#e7e8ea'"
        [outerStrokeGradientStopColor]="'#85fad2'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
      </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [imageSrc]="'../assets/Recursos/L-FB.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [percent]="85"
        [radius]="100"
        [title]="'HTML'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="10"
        [outerStrokeGradient]="true"
        [outerStrokeColor]="'#fc4e3e'"
        [innerStrokeColor]="'#e7e8ea'"
        [outerStrokeGradientStopColor]="'#85fad2'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
      </div>
  </div></div>
</div></div>
</section>