/*Header*/

.header {
    position: sticky;
    top: 0;
    width: auto;
    height: 100px;
    z-index: 100;
    margin-bottom: 2em;
}

.logoAP {
    height: 90px;
    filter: invert(90%);
}

.yoProgramo {
    color: #333;
}

span.d-flex {
    float: right;
}

.nav-item {
    margin: 0.5rem 1rem;
}

.linkedin {
    height: 40px;
    opacity: 0.8;
}

.github {
    height: 40px;
    opacity: 0.8;
}