<header class="header">

  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: skyblue;">

    <div class="container-fluid">
      <img src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1652360229/APLogo-20-20.png"
        class="ps-5 logoAP ">
      <b class="yoProgramo">#YoProgramo</b>
      <button class="navbar-toggler me-5" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <span class="navbar-nav me-auto mb-2 mb-lg-0"></span>

        <span class="d-flex">
          <ul class="navbar-nav mb-2 mb-lg-0 pe-5">
            <li class="nav-item text-center">
              <a title="Linkedin" target="in_blank" href="https://www.linkedin.com/in/gscoutinho96/"><img
                  class="linkedin" src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="Linkedin" /></a>
            </li>
            <li class="nav-item text-center">
              <a title="Instagram" target="in_blank" href="https://github.com/GSC996"><img class="github"
                  src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub" /></a>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-secondary btn-lg" (click)="login()"
                *ngIf="!isLogged">Ingresar</button>
              <button type="button" class="btn btn-secondary btn-lg" (click)="onLogOut()" *ngIf="isLogged">Cerra
                Sesión</button>
            </li>
          </ul>
        </span>
      </div>
    </div>
  </nav>
</header>