.header {
    position: relative;
    width: 1440px;
    height: 100px;
    background: #FFFFFF;
}

#yoProgramo {
    margin-left: 10px;
    padding-top: 50px;
    display: flex;
    width: min-content;
}

.footer {
    position: relative;
    width: 1440px;
    height: 100px;
    background: #FFFFFF;
}

.fotoPerfil{
    border: inset 50px white;
}