/*Experiencia*/

.logo {
    object-fit: fit;
    height: 100px;
    width: 100px;
    margin: 5px 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

#contenido {
    margin: auto;
}

p{
    color: red;
}