/*Proyectos*/

.imagen {
    object-fit: fill;
    height: 200px;
    width: 100%;
    margin: 5px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

p{
    color: red;
}