/* You can add global styles to this file, and also import other style files */
* {
    font-family: monospace;
}

button.btn-info {
    background-color: skyblue;
    border-color: skyblue;
}

button.btn-secondary {
    background-color: lightslategray;
    border-color: lightslategray;
}

button.btn-info.tooltips {
    padding: 0px;
    width: 38px;
    height: 38px;
}

button.btn-secondary.tooltips {
    padding: 0px;
    width: 38px;
    height: 38px;
}