/*Header*/

.header {
    position: sticky;
    top: 0;
    width: auto;
    height: 100px;
    z-index: 100;
    margin-bottom: 4em;
}

.logoAP {
    height: 90px;
    filter: invert(90%);
}

.yoProgramo {
    color: #333;
}

span.d-flex {
    float: right;
}

[class="navbar-nav me-auto mb-2 mb-lg-0"] li {
    margin-right: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
}

.linkedin {
    height: 40px;
    opacity: 0.8;
}

.github {
    height: 40px;
    opacity: 0.8;
}