<section class="proyectos">
    <div class="row">
      <h2>Proyectos realizados</h2>
      <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
          <h3>Proyecto1</h3>
          <p>Lorem ipsum dolor sit
            amet consectetur
            adipisicing elit. Maiores
            cum quo, nisi consequuntur,
            rerum, praesentium et
            nostrum eius reiciendis
            obcaecati at recusandae
            tempora cumque sint quae!
            Consequatur ipsa aspernatur
            nulla!</p>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 offset-md-1 offset-lg-1 parte2">
          <div class="img-proyecto"></div>
        </div>
      </div>
    </div>
  </section>