<section class="row" id="acercaDe">
    <div class="col">
        <div class="row hero" style="background-image: url({{miInfoPersonal.imageBack}});">
            <div class="imgCV">
                <img id="cv" [src]="miInfoPersonal.image" />
            </div>
            <div class="col">
                <h1>{{miInfoPersonal.name}}</h1>
                <h3>{{miInfoPersonal.position}}</h3>
            </div>
        </div>
        <div class="container-fluid mt-0" id="nomb">
            <div class="btn-edit" id="edit-acercaDe">
                <a href="#" id="lapiz" onClick="abrirModalDatosPersonales();" class="btn-right"><i
                        class="fa fa-pen fa-2x"></i></a>
            </div>
        </div>
        <div class="container-fluid justify-content-center px-0">
            <div class="row mt-2">
                <h2>Acerca de mi</h2>
            </div>
            <div class="row mt-1">
                <p class="col">{{miInfoPersonal.acercaDe}}</p>
            </div>
        </div>
    </div>
</section>