<section class="container-fluid mt-0" id="acercaDe">
    <div class="container-fluid mt-0" style="height: 750px;">
        <div class="hero">
            <div class="imgCV">
                <img id="cv" src="/assets/Recursos/foto_CV.jpg" />

            </div>
        </div>
        <div class="container-fluid mt-0" id="nomb">
            <div class="btn-edit" id="edit-acercaDe">
                <a href="#" id="lapiz" onClick="abrirModalDatosPersonales();" class="btn-right"><i
                        class="fa fa-pen fa-2x"></i></a>
            </div>
            <h1>Gustavo Silvestre Coutinho</h1>

            <h3>Desarrollador Web Full Stack Jr</h3>
        </div>
        <div class="container-fluid mt-2" id="textAD">
            <p class="infoProfesional">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis magnam et
                nostrum
                necessitatibus dicta excepturi sunt ullam unde natus, numquam nam ratione repudiandae voluptate maiores
                velit,
                aspernatur facere maxime laudantium. Labore nam blanditiis ullam possimus beatae sunt error corrupti
                delectus
                saepe voluptatum harum dolores quae rerum ipsam, reprehenderit, laudantium sint!</p>
        </div>
    </div>
</section>