<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <h2 class="mb-5"><b>Portfolio</b><br>Gustavo Coutinho</h2>

                        <form [formGroup]="formPersona" (ngSubmit)="onLogin()">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="nombreUsuario">Usuario</label>
                                <input type="text" id="nombreUsuario" name="nombreUsuario"
                                    formControlName="nombreUsuario" class="form-control form-control-lg"
                                    [(ngModel)]="nombreUsuario" required />
                                <div *ngIf="NombreUsuario?.errors && NombreUsuario?.touched">
                                    <p class="text-danger" *ngIf="NombreUsuario?.hasError('required')">
                                        Campo requerido
                                    </p>
                                    <p class="text-danger" *ngIf="NombreUsuario?.hasError('maxlength')">
                                        Debe tener como máximo 45 caracteres
                                    </p>
                                </div>
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="password">Contraseña</label>
                                <input type="password" id="password" name="password" formControlName="password"
                                    class="form-control form-control-lg" [(ngModel)]="password" required />
                                <div *ngIf="Password?.errors && Password?.touched">
                                    <p class="text-danger" *ngIf="Password?.hasError('required')">
                                        Campo requerido
                                    </p>
                                    <p class="text-danger" *ngIf="Password?.hasError('minlength')">
                                        Debe tener como mínimo 4 caracteres
                                    </p>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-lg btn-block" type="submit">Ingresar</button>
                        </form>
                        <hr class="my-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>