<div class="row edu main-container">
    <h1>Historial academico</h1>
    <div class="text-center">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddEducacionModal"
            (click)="onOpenModal('add')">Anadir Edu
            <span class="sr-only">(current)</span>
        </button>
    </div>
    <div id="main-container">
        <div class="col-lg-12" *ngFor="let educacion of educaciones">

            <div class="container">
                <div class="row align-items-start">
                    <div class="col">
                        <img src="{{educacion.imagen_logoInst}}" alt="{{educacion.institucion}}" width="100px" />
                    </div>
                    <div class="col">
                        <h4>{{educacion.titulo}}</h4>
                    </div>
                    <div class="col">
                        <h4>{{educacion.institucion}}</h4>
                    </div>
                    <div class="col">
                        <h5>{{educacion.fecha_inicio}}</h5>
                    </div>
                    <div class="col">
                        <h5>{{educacion.fecha_fin}}</h5>
                    </div>

                    <div class="col text-center">
                        <button (click)="onOpenModal('edit', educacion)" type="button" class="btn btn-primary tooltips"
                            data-bs-toggle="modal" data-bs-target="#editEducacionModal" data-placement="top"
                            data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i>
                        </button>
                        <button (click)="onOpenModal('delete', educacion)" type="button"
                            class="btn btn-secondary tooltips" data-bs-toggle="modal"
                            data-bs-target="#deleteEducacionModal" data-placement="top" data-toggle="tooltip"
                            data-original-title="Delete"><i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Modal addEdu-->

    <div class="modal fade" id="AddEducacionModal" tabindex="-1" role="dialog" aria-labelledby="addEducacionModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addEducacionModalLabel">Aniadir Edu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form #addForm="ngForm" (ngSubmit)="onAddEducacion(addForm)">
                        <div class="mb-3">
                            <label for="titulo" class="col-form-label">Titulo</label>
                            <input type="text" ngModel name="titulo" class="form-control" id="titulo"
                                placeholder="Titulo" required>
                        </div>
                        <div class="mb-3">
                            <label for="institucion" class="col-form-label">Institucion</label>
                            <input type="text" ngModel name="institucion" class="form-control" id="institucion"
                                placeholder="Institucion" required />
                        </div>
                        <div class="mb-3">
                            <label for="fecha_inicio" class="col-form-label">Fecha de inicio</label>
                            <input type="text" ngModel name="fecha_inicio" class="form-control" id="fecha_inicio"
                                placeholder="Fecha de inicio" required />
                        </div>
                        <div class="mb-3">
                            <label for="fecha_fin" class="col-form-label">Fecha de egreso</label>
                            <input type="text" ngModel name="fecha_fin" class="form-control" id="fecha_fin"
                                placeholder="Fecha de egreso" />
                        </div>
                        <div class="mb-3">
                            <label for="imagen_logoInst" class="col-form-label">Url logo institucion</label>
                            <input type="text" ngModel name="imagen_logoInst" class="form-control" id="imagen_logoInst"
                                placeholder="Url al logo de la institucion">
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="add-educacion-form" class="btn btn-secondary"
                                data-bs-dismiss="modal">Cerrar</button>
                            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--Modal EditEdu-->

    <div class="modal fade" id="editEducacionModal" tabindex="-1" role="dialog"
        aria-labelledby="editEducacionModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editEducacionModalLabel">Editar {{updateEducacion?.titulo}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form #editForm="ngForm">
                        <div class="mb-3">
                            <label for="titulo" class="col-form-label">Titulo</label>
                            <input type="text" ngModel="{{updateEducacion?.titulo}}" name="titulo" class="form-control"
                                id="titulo" placeholder="Titulo" aria-describedby="emailHelp">
                        </div>
                        <input type="hidden" ngModel="{{updateEducacion?.idEdu}}" name="idEdu" class="form-control"
                            id="idEdu" placeholder="" />
                        <div class="mb-3">
                            <label for="institucion" class="col-form-label">Institucion</label>
                            <input type="text" ngModel="{{updateEducacion?.institucion}}" name="institucion"
                                class="form-control" id="institucion" placeholder="Institucion" />
                        </div>
                        <div class="mb-3">
                            <label for="fecha_inicio" class="col-form-label">Fecha de inicio</label>
                            <input type="text" ngModel="{{updateEducacion?.fecha_inicio}}" name="fecha_inicio"
                                class="form-control" id="fecha_inicio" placeholder="Anio de inicio" />
                        </div>
                        <div class="mb-3">
                            <label for="fecha_fin" class="col-form-label">Fecha de egreso</label>
                            <input type="text" ngModel="{{updateEducacion?.fecha_fin}}" name="fecha_fin"
                                class="form-control" id="fecha_fin" placeholder="Anio de egreso" />
                        </div>
                        <div class="mb-3">
                            <label for="imagen_logoInst" class="col-form-label">Url logo institucion</label>
                            <input type="text" ngModel="{{updateEducacion?.imagen_logoInst}}" name="imagen_logoInst"
                                class="form-control" id="imagen_logoInst" placeholder="Url al logo de la institucion">
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="edit-educacion-form" class="btn btn-secondary"
                                data-bs-dismiss="modal">Cerrar</button>
                            <button (click)="onEditEducacion(editForm.value)" class="btn btn-primary"
                                data-bs-dismiss="modal" type="submit">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--Modal delete Edu-->

    <div class="modal fade" data-bs-toggle="modal" data-bs-target="#deleteModelLabel" id="deleteEducacionModal"
        tabindex="-1" aria-labelledby="deleteEducacionModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteEducacionModalLabel">Eliminar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <p>Estas Seguro de que queres eliminar esta seccion {{deleteEducacion?.titulo}}?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <button type="button" (click)="onDeleteEducacion(deleteEducacion!.idEdu)" class="btn btn-danger"
                        data-dismiss="modal">Si</button>
                </div>
            </div>
        </div>
    </div>

    <!--Nada que mostrar-->
    <div *ngIf="educaciones?.length == 0" class="col-lg-12 col-md-12 col-sl-12">
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">Campo vacio</h4>
        </div>
    </div>
</div>